@model List<Productos>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Women's clothing</h1>
</div>

<div class="cards">

@foreach(var Productos in Model) {
    if(Productos.category == "women's clothing") {
    <div class="text-center card-Container">
        <p>@Productos.title</p>
        <p>$@Productos.price</p>
        <p>@Productos.category</p>
        <img src=@Productos.image>
    </div>
    }
}
</div>